.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container > img {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.search-btn {
    margin: 5px;
}

.filter-btn {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.restaurant-card {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-card > img {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 18px;
}

.link > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.link > ul > li {
    list-style-type: none;
    margin: 0 10px;
}

.shimmer-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 5px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login {
    padding: 0px 20px;
    margin: 0px 10px;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
}
