<%- include("header") -%>

    <H2>I am Here</H2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum cumque necessitatibus fugit consequuntur, ut
        beatae
        temporibus debitis aut libero. Aut architecto, quam est laborum ullam recusandae totam possimus quo minus
        inventore
        saepe sed quaerat aliquam quibusdam nisi. Eligendi veniam libero iusto vero eos a minus quasi blanditiis, qui,
        fugiat deserunt impedit consectetur minima expedita voluptates illum inventore! Adipisci perspiciatis autem
        provident quam itaque delectus nesciunt? Alias explicabo exercitationem nemo ad animi voluptate sed vitae
        temporibus. Obcaecati nemo aperiam fuga saepe nihil beatae sit modi nesciunt dicta nulla quia rerum illo dolorum
        iusto placeat, minus enim fugit quidem expedita voluptatem in repellendus reiciendis iste quae! Adipisci
        doloribus
        fuga minima architecto quod, voluptatum, corrupti distinctio maiores dolorum tempora molestiae quo deleniti
        voluptatem ab placeat!</p>

    <%- include("footer") -%>